/* 公共样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(242,242,242);
}
body,html {
  width: 100%;
  height: 100%;
}
/* 头部样式 */
header {
    height: 50px;
    display: flex;
    background: rgb(255,255,255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(255,255,255);
}
header .title_name {
    margin-left: 50px;
    margin-top: 19px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    background-color: rgb(255,255,255);
}
header .tab {
    background-color: rgb(255,255,255);
}
header .tab button {
    background-color: transparent;
    border: none; /* 去掉边框 */
    outline: none;/* 去掉轮廓 */
    margin-left: 50px;
    margin-top: 20px;
}
header .tab button.active {
    color: rgb(3, 124, 245);
}


/* 总览选项卡 */
#overview {
    display: flex;
    height: calc(100% - 75px);
}
.over_view_tab {
    width: 180px;
    display: flex;
    flex-direction: column; /* 将选项卡垂直排列 */
    background: rgb(255,255,255);
    left: 10px;
}
.overview_tab_links.active {
    background: rgb(243,251,255);
    color: rgb(3, 124, 245);
    position: relative; /* 伪元素定位 */
}
.overview_tab_links.active::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    top: 0; /* 顶部对齐 */
    width: 2px; /* 竖线的宽度 */
    height: 100%; /* 竖线的高度 */
    background: rgb(3, 124, 245); /* 竖线的颜色 */
}
.over_view_tab button {
    background-color: rgb(255,255,255); /* 设置背景为透明 */
    border: none; /* 去掉边框 */
    outline: none;/* 去掉轮廓 */
    height: 50px;

}
.over_view_tab_content {
    width: calc(100% - 180px);
}
.overview_tab_content {
    display: flex;
    flex-direction: column; /* 将选项卡垂直排列 */
    height: 100%;
}
.data_overview {
    flex: 1;
}
.data_overview_label {
    height: 50px;
    width: calc(100% - 40px);
    text-align: left;
    line-height: 50px;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.data_overview_today {
    width: calc(100% - 40px);
    height: calc(100% - 90px);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
}
.data_overview_today_chart {
    flex: 1;
    background: rgb(255,255,255);
    margin-right: 10px;
    width: calc(100% - 10px);
}
.data_overview_today_chart_title {
    background: rgb(255,255,255);
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 10px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.data_overview_today_chart_content {
    background: rgb(255,255,255);
    height: calc(100% - 50px);
}
.data_overview_today_chart_content_label {
    background: rgb(255,255,255);
    height: 20px;
}
.data_overview_today_chart_content_label a {
    background: rgb(255,255,255);
    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 移除下划线 */
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    font-size: 10px;
}
.data_overview_today_chart_content_label .a-active {
    color: rgb(3, 124, 245);
}
.data_overview_today_chart_content_item {
    background: rgb(255,255,255);
    height: calc(100% - 20px);
}
/* 今日概况-面积图-提示框样式 */
.data_overview_today_chart_content_item div, .data_overview_today_chart_content_item div span {
    background: rgb(255,255,255);
}
.data_overview_today_detail {
    flex: 1;
    background: rgb(255,255,255);
    display: flex;
}
.data_overview_today_chart_content_item_top {
    background: rgb(255,255,255);
    
}
.data_overview_today_chart_content_item_bottom {
    background: rgb(255,255,255);
}

.data_overview_core_metrics {
    flex: 1;
    width: calc(100% - 40px);
    height: 100%;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 页脚 */
footer {
    text-align: center;
    height: 25px;
    background: rgb(255,255,255);
}