/* 公共样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(242,242,242);
}
body,html {
  width: 100%;
  min-width: 1024px;
}
/* 头部样式 */
header {
    height: 50px;
    width: 100%;
    min-width: 1024px;
    display: flex;
    background: rgb(255,255,255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed; /* 固定定位 */
    z-index: 999; /* 保证头部在最上层 */
}
header img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(255,255,255);
}
header .title_name {
    margin-left: 50px;
    margin-top: 19px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    background-color: rgb(255,255,255);
}
header .tab {
    background-color: rgb(255,255,255);
}
header .tab button {
    background-color: transparent;
    border: none; /* 去掉边框 */
    outline: none;/* 去掉轮廓 */
    margin-left: 50px;
    margin-top: 20px;
}
header .tab button.active {
    color: rgb(3, 124, 245);
}


/* 总览选项卡 */
#overview {
    display: flex;
}
.over_view_tab {
    width: 180px;
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column; /* 将选项卡垂直排列 */
    background: rgb(255,255,255);
    /* left: 10px; */
    position: fixed; /* 固定定位 */
}
.overview_tab_links.active {
    background: rgb(243,251,255);
    color: rgb(3, 124, 245);
    position: relative; /* 伪元素定位 */
}
.overview_tab_links.active::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    top: 0; /* 顶部对齐 */
    width: 2px; /* 竖线的宽度 */
    height: 100%; /* 竖线的高度 */
    background: rgb(3, 124, 245); /* 竖线的颜色 */
}
.over_view_tab button {
    background-color: rgb(255,255,255); /* 设置背景为透明 */
    border: none; /* 去掉边框 */
    outline: none;/* 去掉轮廓 */
    height: 50px;

}
.over_view_tab_content {
    width: calc(100% - 180px);
    margin-left: 180px;
    height: calc(100% - 50px);
    margin-top: 50px;
    /* overflow-y: auto; 使内容区域可滚动 */
}
.overview_tab_content {
    display: flex;
    flex-direction: column; /* 将选项卡垂直排列 */
    /* height: 100%; */
    overflow: auto; /* 使内容区域可滚动 */
}
.data_overview {
    flex: 1;

}
.data_overview_label, .data_overview_scene_analysis_label {
    height: 50px;
    width: calc(100% - 40px);
    text-align: left;
    line-height: 50px;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.data_overview_today {
    width: calc(100% - 40px);
    height: calc(100% - 90px);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
}
.data_overview_today_chart {
    flex: 1;
    background: rgb(255,255,255);
    margin-right: 10px;
    width: calc(100% - 10px);
}
.data_overview_today_chart_title, .data_overview_core_metrics_title {
    background: rgb(255,255,255);
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.data_overview_today_chart_content, .data_overview_core_metrics_content {
    background: rgb(255,255,255);
    /* height: calc(100% - 50px); */
    height: 300px;
}
.data_overview_today_chart_content_label, .data_overview_core_metrics_content_label {
    background: rgb(255,255,255);
    height: 20px;
}
.data_overview_today_chart_content_label a, .data_overview_core_metrics_content_label a {
    background: rgb(255,255,255);
    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 移除下划线 */
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    font-size: 15px;
}
.data_overview_today_chart_content_label .a-active, .data_overview_core_metrics_content_label .a-active {
    color: rgb(3, 124, 245);
}
.data_overview_today_chart_content_item, .data_overview_core_metrics_content_item {
    background: rgb(255,255,255);
    height: calc(100% - 20px);
}
/* 今日概况-面积图-提示框样式 */
.data_overview_today_chart_content_item div, .data_overview_today_chart_content_item div span,
.data_overview_core_metrics_content_item div, .data_overview_core_metrics_content_item div span,
.data_overview_scene_analysis_content_right_item_chart div, .data_overview_scene_analysis_content_right_item_chart div span
{
    background: rgb(255,255,255);
}
.data_overview_today_detail {
    flex: 1;
    background: transparent;
    display: flex;
    flex-direction: column; /* 将选项卡垂直排列 */
}
.data_overview_today_chart_content_item_top {
    background: transparent;
    height: calc(100% - 5px);
    margin-bottom: 5px;
    display: flex;
}
.data_overview_today_chart_content_item_bottom {
    background: rgb(255,255,255);
    height: calc(100% - 5px);
    margin-top: 5px;
    display: flex;
}
.data_overview_today_chart_content_item_top_left, .data_overview_today_chart_content_item_bottom_left {
    flex: 1;
    background: rgb(255,255,255);
    position: relative; /* 伪元素定位 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data_overview_today_chart_content_item_top_left::after, .data_overview_today_chart_content_item_bottom_left::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    top: 10px; /* 顶部对齐 */
    bottom: 10px;
    width: 2px; /* 竖线的宽度 */
    height: calc(100% - 20px); /* 竖线的高度 */
    background: rgb(242,242,242); /* 竖线的颜色 */
}
.data_overview_today_chart_content_item_top_right, .data_overview_today_chart_content_item_bottom_right {
    flex: 1;
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data_overview_today_chart_content_item_top_left_content, .data_overview_today_chart_content_item_bottom_left_content {
    text-align: center;
    background: rgb(255,255,255);
}
.data_overview_today_chart_content_item_top_right_content, .data_overview_today_chart_content_item_bottom_right_content {
    text-align: center;
    background: rgb(255,255,255);
}
.data_overview_today_chart_content_item_top_left h6, .data_overview_today_chart_content_item_top_right h6,
.data_overview_today_chart_content_item_bottom_left h6, .data_overview_today_chart_content_item_bottom_right h6 {
    text-align: center;
    background: rgb(255,255,255);
    height: 20px;
}
.data_overview_today_chart_content_item_top_left p, .data_overview_today_chart_content_item_top_right p,
.data_overview_today_chart_content_item_bottom_left p, .data_overview_today_chart_content_item_bottom_right p {
    text-align: center;
    background: rgb(255,255,255);
    margin-top: 10px;
    height: 20px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    font-size: 20px;
}

.data_overview_core_metrics {
    flex: 1;
    width: calc(100% - 40px);
    height: 100%;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
}
/* 场景分析 */
.data_overview_scene_analysis_content {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    margin-bottom: 20px;
}
.data_overview_scene_analysis_content_left {
    flex: 1;
    background: transparent;
}
.data_overview_scene_analysis_content_right {
    flex: 1;
    background: transparent;
}
.data_overview_scene_analysis_content_left_title {
    background: rgb(255,255,255);
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    margin-right: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_right_title {
    background: rgb(255,255,255);
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    margin-left: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_left_item {
    height: 300px;
    background: rgb(255,255,255);
    margin-right: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_right_item {
    height: 300px;
    background: rgb(255,255,255);
    margin-left: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_left_item_label {
    height: 20px;
    background: rgb(255,255,255);
    margin-right: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_left_item_chart {
    height: calc(100% - 20px);
    background: rgb(255,255,255);
}
.data_overview_scene_analysis_content_right_item_chart {
    margin-top: 20px;
    height: calc(100% - 40px);
    background: rgb(255,255,255);
}
.data_overview_scene_analysis_content_right_item_label {
    height: 20px;
    background: rgb(255,255,255);
    margin-left: 5px;
    width: calc(100% - 5px);
}
.data_overview_scene_analysis_content_left_item_label a, .data_overview_scene_analysis_content_right_item_label a {
    background: rgb(255,255,255);
    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 移除下划线 */
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    font-size: 15px;
}
.data_overview_scene_analysis_content_left_item_label .a-active, .data_overview_scene_analysis_content_right_item_label .a-active {
    color: rgb(3, 124, 245);
}
/* 商品排行 */
.data_overview_goods_ranking {
    display: flex;
    flex-direction: column;
}
.data_overview_goods_ranking_label {
    height: 50px;
    width: calc(100% - 40px);
    text-align: left;
    line-height: 50px;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.data_overview_goods_ranking_content {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}
.access_leaderboards {
    flex: 1;
    background: rgb(255,255,255);
    margin-right: 6px;
    width: calc(100% - 6px);
}
.order_leaderboards {
    flex: 1;
    margin-left: 3px;
    margin-right: 3px;
    background: rgb(255,255,255);
    width: calc(100% - 6px);
}
.sales_leaderboards {
    flex: 1;
    margin-left: 6px;
    background: rgb(255,255,255);
    width: calc(100% - 6px);
}
.access_leaderboards_title, .order_leaderboards_title, .sales_leaderboards_title {
    background: rgb(255,255,255);
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.access_leaderboards_table, .order_leaderboards_table, .sales_leaderboards_table {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    background: rgb(255,255,255);
    border: 1px solid rgb(164,195,213);
}
.access_leaderboards_table th,
.access_leaderboards_table td,
.order_leaderboards_table th,
.order_leaderboards_table td,
.sales_leaderboards_table th,
.sales_leaderboards_table td {
    border: 1px solid rgb(164,195,213); /* 设置单元格边框 */
}
.access_leaderboards_table thead,
.order_leaderboards_table thead,
.sales_leaderboards_table thead {
    color: rgb(164,195,213);
    height: 20px;
}
.access_leaderboards_table img,
.order_leaderboards_table img,
.sales_leaderboards_table img {
    width: 75px;
    height: 45px;
    border-radius: 5px;
}
.access_leaderboards_table tbody tr:nth-of-type(odd) td:first-child,
.access_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(2),
.access_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(3),
.order_leaderboards_table tbody tr:nth-of-type(odd) td:first-child,
.order_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(2),
.order_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(3),
.sales_leaderboards_table tbody tr:nth-of-type(odd) td:first-child,
.sales_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(2),
.sales_leaderboards_table tbody tr:nth-of-type(odd) td:nth-child(3) {
    background: rgb(255,255,255); /* 奇数行背景颜色 */
}
.access_leaderboards_table tbody td,
.order_leaderboards_table tbody td,
.sales_leaderboards_table tbody td {
    height: 60px;
}
.access_leaderboards_pages,
.order_leaderboards_pages,
.sales_leaderboards_pages {
    margin-top: 20px;
    float: right;
    overflow: hidden; /* 清除内部浮动 */
    background: rgb(255,255,255);
    margin-bottom: 20px;
}
.access_leaderboards_pages_left, .access_leaderboards_pages_center, .access_leaderboards_pages_right,
.order_leaderboards_pages_left, .order_leaderboards_pages_center, .order_leaderboards_pages_right,
.sales_leaderboards_pages_left, .sales_leaderboards_pages_center, .sales_leaderboards_pages_right {
    background: rgb(255,255,255);
    height: 20px; 
    float: left; /* 左浮动以水平排列 */
    margin-right: 10px;
}
.access_leaderboards_pages_left, .access_leaderboards_pages_right,
.order_leaderboards_pages_left, .order_leaderboards_pages_right,
.sales_leaderboards_pages_left, .sales_leaderboards_pages_right {
    border: 1px solid rgb(242, 242, 242);
}
/* 公众号分析 */
.data_overview_public_number_label {
    height: 50px;
    width: calc(100% - 40px);
    text-align: left;
    line-height: 50px;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.graphic_analysis, .fan_analysis {
    margin-left: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    background: rgb(255,255,255);
}
.graphic_analysis_title, .fan_analysis_title {
    background: rgb(255,255,255);
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */    
}
.graphic_analysis_content, .fan_analysis_content {
    display: flex;
    height: 120px;
}
.graphic_analysis_content_left, .graphic_analysis_content_middle, .graphic_analysis_content_right,
.fan_analysis_content_left, .fan_analysis_content_middle, .fan_analysis_content_right {
    flex: 1;
    background: rgb(255,255,255);
    position: relative; /* 伪元素定位 */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.graphic_analysis_content_left::after, .graphic_analysis_content_middle::after,
.fan_analysis_content_left::after, .fan_analysis_content_middle::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    /*top: 10px; /* 顶部对齐 */
    bottom: 40px;
    width: 2px; /* 竖线的宽度 */
    height: calc(100% - 40px); /* 竖线的高度 */
    background: rgb(242,242,242); /* 竖线的颜色 */
}
.graphic_analysis_content_left_content, .graphic_analysis_content_middle_content, .graphic_analysis_content_right_content,
.fan_analysis_content_left_content, .fan_analysis_content_middle_content, .fan_analysis_content_right_content {
    text-align: center;
    background: rgb(255,255,255);
}
.graphic_analysis_content_left h6, .graphic_analysis_content_middle h6, .graphic_analysis_content_right h6,
.fan_analysis_content_left h6, .fan_analysis_content_middle h6, .fan_analysis_content_right h6 {
    /* text-align: center; */
    background: rgb(255,255,255);
    height: 20px;
}
.graphic_analysis_content_left p, .graphic_analysis_content_middle p, .graphic_analysis_content_right p,
.fan_analysis_content_left p, .fan_analysis_content_middle p, .fan_analysis_content_right p {
    /* text-align: center; */
    background: rgb(255,255,255);
    margin-top: 10px;
    height: 20px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
    font-size: 20px;
}
/* 实时分析 */
.overview_analyze_label {
    height: 50px;
    width: calc(100% - 40px);
    text-align: left;
    line-height: 50px;
    background: rgb(255,255,255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;  /* 字体加粗 */
    color: black; /* 字体黑色 */
}
.overview_analyze_content {
    display: flex;
}
.overview_analyze_content_label, .overview_analyze_content_date_select {
    flex: 1;
}
.overview_analyze_content_title {
    background: rgb(255,255,255);
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.overview_analyze_content_date {
    background: rgb(255,255,255);
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.overview_analyze_content_date_select {
    background: rgb(255,255,255);
    height: 60px;
    line-height: 60px;
    text-align: right;
    margin-right: 20px;
    width: calc(100% - 20px);
}
.overview_analyze_content_date_select input {
    border: 1px solid rgb(217,220,255);
    background: rgb(255,255,255);
}
.overview_analyze_content_item {
    background: rgb(255,255,255);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
}
.overview_analyze_content_item_top, 
.overview_analyze_content_item_middle,
.overview_analyze_content_item_bottom {
    background: rgb(255,255,255);
    height: 100px;
}
.overview_analyze_content_item_top ul,
.overview_analyze_content_item_middle ul,
.overview_analyze_content_item_bottom ul {
    display: flex;
    background: rgb(255,255,255);
    text-align: center;
    height: 100%;
}
.overview_analyze_content_item_top ul li,
.overview_analyze_content_item_middle ul li,
.overview_analyze_content_item_bottom ul li {
    height: 100%;
    flex: 1;
    background: rgb(255,255,255);
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* 伪元素定位 */
}
.overview_analyze_content_item_top ul li:not(:last-child)::after,
.overview_analyze_content_item_middle ul li:not(:last-child)::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    top: 10px; /* 顶部对齐 */
    bottom: 10px;
    width: 2px; /* 竖线的宽度 */
    height: calc(100% - 20px); /* 竖线的高度 */
    background: rgb(242,242,242); /* 竖线的颜色 */
}
.overview_analyze_content_item_bottom ul li:first-child::after {
    content: ""; /* 定义伪元素的内容为空 */
    position: absolute; /* 绝对定位 */
    right: 0; /* 右侧对齐 */
    top: 10px; /* 顶部对齐 */
    bottom: 10px;
    width: 2px; /* 竖线的宽度 */
    height: calc(100% - 20px); /* 竖线的高度 */
    background: rgb(242,242,242); /* 竖线的颜色 */
}
.li_content {
    text-align: center;
    background: rgb(255,255,255);
}
.overview_analyze_content_item_top ul li h6, .overview_analyze_content_item_top ul li p,
.overview_analyze_content_item_middle ul li h6, .overview_analyze_content_item_middle ul li p,
.overview_analyze_content_item_bottom ul li h6, .overview_analyze_content_item_bottom ul li p {
    background: rgb(255,255,255);
    height: 20px;
    text-align: center;
}
.overview_analyze_content_item_top ul li p,
.overview_analyze_content_item_middle ul li p,
.overview_analyze_content_item_bottom ul li p {
    margin-top: 10px;
}
/* 页脚 */
footer {
    text-align: center;
    height: 25px;
    background: rgb(255,255,255);
}